#swahili{
    align-items: center;
}

.content{
    padding: 65px 50px 85px;
    width: 100%;
    text-align:center;
    overflow-x: hidden;
}

h2{
    border: 2px solid red;
    border-radius: 12px;
}

hr {
    height: 1px;
    background-color: crimson;
}

h4 {
    color: red;
}

#navbardrop {
    color: red;
}

header {
    height: 150px;
    font-family: Helvetica, sans-serif;
}

#footer {
    background-color: black;
    color: white;
    font-family: Helvetica, sans-serif;
}

.list {
    font-family: Helvetica, sans-serif;
}

body{
    font-family: Helvetica, sans-serif;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.btn-primary {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.content-section {
    margin: 1em;
}

.btn-primary:hover {
    background-color: #CC4C4C;
}